@using GreetingApp.ViewModel;
@model IndexViewModel;

@{
    ViewData["Title"] = "Greetings";
}

<partial name="_GreetingModal" />

<div class="row">
    <div class="col-12">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-12">
        <form method="post">
            
            <div class="input-name">
                <span asp-validation-for="@Model.Person.Names" class="text-danger"></span>
                <br />
                <input asp-for="@Model.Person.Names" />
            </div>

            <div class="radio-btns">
                @foreach (var lang in Model.languages)
                {
                    <label asp-for="@lang">@lang</label>
                    <input type="radio" asp-for="@lang" value="@lang" />
                }
            </div>
            <button type="submit" class="btn btn-success" >Greet</button>
        </form>
    </div>
    <div class="">
        <h1>@Model.GreetingMsg</h1>
    </div>
    <div class="col-12">
       <p>Counter @Model.Counter</p>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
