@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row d-flex flex-column justify-content-center align-items-center">
    <div class="col-md-6 card">
        <h1 class="display-3 text-center">Greetings</h1>
        <div class="form-container">
            <form class="form-group" method="post">
                @if (@Model.action == "submit")
                {
                    @* <div asp-validation-summary="All" class="text-danger"></div> *@
                    <div><span asp-validation-for="person.FirstName" class="text-danger"></span></div>
                }
                <label asp-for="person.FirstName">Name:</label>
                <input asp-for="person.FirstName" type="text" class="form-control input-field"
                    placeholder="Enter firstname you want to greet">



                <div class="mt-4 text-center">
                    @if (@Model.action == "submit")
                    {
                        <div><span asp-validation-for="person.Language" class="text-danger"></span></div>
                    }
                    @foreach (var language in @Model.languages)
                    {
                        <input type="radio" asp-for="person.Language" value="@language">
                        <label class="mr-1 type-lang" asp-for="person.Language">@language</label>
                    }
                </div>

                <div class="mt-4 text-center">
                    <button asp-action="submit" type="submit" class="btn btn-success btn-greet"
                        onclick="popGreetMsg()">Greet</button>
                    <button asp-action="clear" class="btn btn-danger btn-clear" onclick="popGreetMsg()">Clear</button>
                </div>
            </form>
        </div>

        @if (@Model.action == "submit")
        {
            <div class="mt-4 greet-msg">
                <h1 class="display-5 text-center border rounded">@Model.greeting</h1>
            </div>
        }
        else if (@Model.action == "clear")
        {
            <div class="mt-4 greet-msg" style="color: #fff">
                <p class="display-5 text-center border rounded bg-danger">@Model.msg</p>
            </div>
        }
        else
        {
            <div class="mt-4 holder-msg">
                <p class="display-5 text-center border rounded holder-msg"></p>
            </div>
        }

        <div class="mt-4">
            <p class="text-center">Counter: <span class="counter">@Model.count</span></p>
        </div>


    </div>
</div>
